@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body
{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container
{
    position: relative;
    width: 80%;
    max-width: 80%;
    min-height: 100px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left_side
{
    position: relative;
    background: #003147;
    padding: 20px;
}

.container .right_side
{
    position: relative;
    background: #fff;
    padding: 20px;
}

.title
{
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.profiletext
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profiletext .imagebox
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profiletext .imagebox img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profiletext h2
{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profiletext h2 span
{
    font-size: 0.8em;
    font-weight: 300;
}

.contactInfo
{
    padding-top: 40px;
}

.contactInfo ul
{
    position: relative;
}

.contactInfo ul li
{
    position: relative;
    list-style: none;
    margin: 10px 0;
}

.contactInfo ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}

.contactInfo ul li a
{
    color: #fff;
    font-weight: 0;
}

#social-thumb
{
    position: relative;
    width: 30px;
    border-radius: 20px;   
}

#cert-thumbnail
{
    position: relative;
    width: 100px;
    border-radius: 20px;   
}
.contactInfo ul li span
{
    color: #fff;
    font-weight: 300;
}

.skills li
{
    color: #fff;
    font-weight: 300;
    margin-bottom: 15px;
}

.sidenav {
    height: 50px;
    width: 100%;
    flex-direction: column;
    position: relative;
    z-index: 0;
    top: 0;
    left: 50;
    text-align: center;
  }

.sidenav a:hover {
    background-color: transparent;
    color: lightblue;
    font-weight: 400;
  }